.container
  .sixteen.columns
    %h1 WebSequel
    %form
      %input{:placeholder => 'Ruby Sequel db connection string', :name => 'db', :style => 'width: 100%'}
      %textarea{:placeholder => 'select * from table', :name => 'sql', :style => 'width: 100%'}
      %button{:style => 'width: 100%'} Execute Query
  %hr
  .sixteen.columns
    #results